

<div class="background">

  
  <div class="container">

    <h1>
      <p>
	home works!
      </p>
    </h1>
    <!--
    <span *ngIf="theme$ | async as theme">
      <mat-select [ngModel]="theme" (selectionChange)="onThemeSelect($event)">
	<mat-option *ngFor="let t of themes" [value]="t">
          {{ t.name.toUpperCase() }}
	</mat-option>
      </mat-select>
    </span>
-->
    <div *ngIf="loading$ | async">
  Loading...
</div>
<div *ngIf="errors$ | async">
  Error :(
</div>
<div *ngFor="let rate of rates$ | async">
  <p>{{rate.currency}}: {{rate.rate}}</p>
</div>
    
  </div>
</div>
