@import '~@angular/material/theming';

@mixin increate-home-component-theme($theme) {
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);
  $accent: map-get($theme, accent);

  increate-home {
    .background {
      color: mat-color($foreground, text);
      background-color: mat-color($background, background);
    }
    h1 {
	color:red;
	background-color: black;

    }

  }
}
