@import '~@angular/material/theming';

@mixin increate-home-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    
    $background: map-get($theme, background);
    $accent: map-get($theme, accent);

    increate-home {
	.background {
	    color: mat-color($foreground, text);
	    background-color: mat-color($background, background);
	}
	h1 {
	    color:mat-color($primary, default);
	}
	h2 {
	    color:mat-color($accent, default);
	    font-style: italic;
	}
	.div-sep {
	    border-top-color: mat-color($accent, default);
	} 
	
    }
}
