<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 rtl class="main-heading">{{ 'increate.features.title' | translate }}</h1>
    </div>
  </div>
  <div class="row align-items-end">
    <div *ngFor="let feature of features" class="col-md-6 col-lg-4" [ngClass]="routeAnimationsElements">
      <mat-card>
        <mat-card-title>
          <code *ngIf="feature.version">{{feature.version}}</code>{{feature.name | translate}}
        </mat-card-title>
        <mat-card-subtitle rtl>
          {{ feature.description | translate }}
        </mat-card-subtitle>
	<mat-card-content>
	  <img alt ="Green Checkmark" src="/assets/green-checkmark.svg" />
	</mat-card-content>
        <mat-card-actions>
          <a *ngIf="feature.github"
	     aria-label ="GitHub"
	     mat-icon-button [href]="feature.github"
	     rel="noopener"
	     target="_blank">
            <fa-icon [icon]="['fab','github']"></fa-icon>
          </a>
          <a mat-button [href]="feature.documentation"
	     [attr.aria-label]="'increate.features.documentation' |
				translate"
	     rel="noopener"
	     target="_blank">
            <fa-icon icon="book"></fa-icon>{{ 'increate.features.documentation' | translate }}
          </a>
          <a *ngIf="feature.medium" mat-button
	     [attr.aria-label]="'increate.features.guide' | translate"
	     [href]="feature.medium"
	     rel="noopener"
	     target="_blank">
            <fa-icon [icon]="['fab','medium-m']"></fa-icon>{{ 'increate.features.guide' | translate }}
          </a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
