<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	  
	<h3>
	  About Us
	</h3>
	<p>
	  Increate Software LLC is located in Denver, CO and we
	  have spent a considerable amount of time in Seattle and San Jose.
	  We offer Engineering Management services and partner with local
	  providers to offer full service software development.
	</p>
	
	<br>
	<p>
	  Over the years we've built a strong woring relationships with our
	  preferred out-sourcing partner and general strategies that will work
	  with any software development activity but specifically addresses the
	  challenges of working across cultures and time zones.
	</p>
	<br>
	<p>
	  Tim Greenfield
	  
	  
	</p>
	
      </div>
    </div>
  </div>
</div>
