
//I want the login card to take up all the dialog container
::ng-deep .mat-dialog-container {
    padding:unset;
}
    
.buttons {
    margin: 20px 0px;
}
//For this tool bar let's put the title in the middle
.title-center {
  flex: 1 1 auto;
  text-align: center;
}
