<mat-toolbar>
    <span class="title-center">
      {{ 'increate.login.form.title' | translate }}
    </span>
  </mat-toolbar>

  
  <form [formGroup]="form" >
    <div class="row">
      <div class="col">
	<mat-card>
          <span class="d-flex justify-content-between align-items-baseline">
            <h2>{{ 'increate.login.form.subtitle' | translate }}</h2>
          </span>

	  <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'increate.login.form.email' | translate }}"
                formControlName="email" type="email">
              <mat-error *ngIf="form.get('email').hasError('required')">
                {{ 'increate.login.form.invalid.email' | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('email').hasError('email')">
                {{ 'increate.login.form.invalid.email' | translate }}</mat-error>
            </mat-form-field>
          </div>

	  
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="password" placeholder="{{ 'increate.login.form.password' | translate }}"
                formControlName="password">
              <mat-error *ngIf="form.get('password').invalid">
                {{ 'increate.login.form.invalid.password' | translate }}
              </mat-error>
            </mat-form-field>
          </div>



	  <md-dialog-actions layout="row">

	  <div class="danger">
	    {{loginErrorMessage}}
	  </div>

	    
	  <div class="row buttons d-flex justify-content-between pad">
            <button type="button" mat-raised-button color="accent"
              [ngClass]="routeAnimationsElements" (click)="save()">
              {{ 'increate.login.form.submit' | translate }}
            </button>

            <button type="reset" mat-raised-button (click)="reset()" [ngClass]="routeAnimationsElements">
              {{ 'increate.login.form.cancel' | translate }}
            </button>
          </div>


	  	  <a [routerLink]="{ outlets: { modal: 'modal/signin'} }"
	     class="col-md-8">
	    {{ 'increate.login.form.signup' | translate }}
	  </a>
          <span flex></span>

	  <a [routerLink]="{ outlets: { modal: 'modal/forgotpassword' } }"
	     class="col-md-8"
	     >
	    {{ 'increate.login.form.forgot' | translate }}
	  </a>


	  </md-dialog-actions>
	  
        </mat-card>
	
      </div>
    </div>
  </form>
