@import '../../../styles-variables';

.blog-section {
    position:relative;
    .blog-tabs
    {
	position:sticky;
	top:0px;
	//z-index:500;
	width:1000vh;
    }
    
}

nav {
    //margin-bottom: 20px;
    //position:fixed;
    
  .mat-tab-link {
    min-width: 120px;
    padding: 0 15px;
  }

  @media (max-width: map-get($grid-breakpoints, md)) {
    .mat-tab-link {
      min-width: 0;
    }
  }
}
