@import '~@angular/material/theming';

@mixin increate-forgot-password-component-theme($theme) {
    $foreground: map-get($theme, foreground);
    $primary: map-get($theme, primary);
    
    $background: map-get($theme, background);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    app-password {
	.background {
	    color: mat-color($foreground, text);
	    background-color: mat-color($background, background);
	}

	.mat-toolbar {
	    color: mat-color($accent);
	    background-color: mat-color($primary);
	}
	a {
	    color: mat-color($primary);
	}
	.danger {
	    color: mat-color($warn);
	    font-size:small;
	    height:.5em;
	}

    }

}
