<mat-toolbar>
    <span class="title-center">
      {{ 'increate.forgotpassword.form.title' | translate }}
    </span>
  </mat-toolbar>
  
  <form [formGroup]="form" >
    <div class="row">
      <div class="col">
	<mat-card>
          <span class="d-flex justify-content-between align-items-baseline">
            <h2>{{ 'increate.forgotpassword.form.subtitle' | translate }}</h2>
          </span>

	  <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'increate.forgotpassword.form.email' | translate }}"
                formControlName="email" type="email">
              <mat-error *ngIf="form.get('email').hasError('required')">
                {{ 'increate.forgotpassword.form.invalid.email' | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('email').hasError('email')">
                {{ 'increate.forgotpassword.form.invalid.email' | translate }}</mat-error>
            </mat-form-field>
          </div>

	  <md-dialog-actions layout="row">

	  <div class="danger">
	    {{loginErrorMessage}}
	  </div>

	    
	  <div class="row buttons d-flex justify-content-between pad">
            <button type="button"
		    [attr.aria-label]="'increate.forgotpassword.form.submit' | translate"
		    [disabled]="form.invalid"
		    mat-raised-button color="accent"
              [ngClass]="routeAnimationsElements" (click)="resetPassword()">
              {{ 'increate.forgotpassword.form.submit' | translate }}
            </button>

          </div>


	  <a [routerLink]="{ outlets: { modal: 'modal/login' } }"
	     [attr.aria-label]="'increate.form.returnToLogIn' | translate"
	     class="col-md-8" >{{ 'increate.form.returnToLogIn' | translate }}</a>


	  </md-dialog-actions>
	  
        </mat-card>
	
      </div>
    </div>
  </form>
