<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	  
	<h1>
	  Contact Us
	</h1>
	<app-contact-us></app-contact-us>		

	<h3>
	  Increate software is located in Denver, CO.  Our office
	  hours are Monday through Friday 8am - 5pm.  
	</h3>

	<br><br>
	<h3>You can Contact
	  Us through one of the following methods.</h3>
	
	<h2>Phone </h2>
	<a href="tel:17202306306">1-720-230-6306</a>
	
	<br><br>
	<h2> Email </h2>
	<a href="mailto:info@increatesoftware.com">info@increatesoftware.com</a> 

	<br><br>
	<h2>Mail</h2>
	<p>
	  Increate Software LLC<br>
	  9615 E County Line Rd, STE B-539<br>
	  Centennial, CO 80112
	</p>
	<br>
	<h2>Face to Face</h2>
	<p>
	Increate Software doesn't have a physical office.  We utilize
	a combination of virtual offices and shared workspaces.
	Please contact us and we'd be happy to schedule a face to face
	meeting with you.
	</p>
      </div>
    </div>
  </div>
</div>
