<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	  
	<h3>
	  Contact Us
	</h3>
	<p>
	  Increate software is located in Denver, CO.  <br>Our office
	  hours are Monday through Friday 8am - 5pm.  <br><br>You can Contact
	  Us through one of the following methods.
	</p>
	
	<h4>Phone </h4>
	<a href="tel:17202306306">1-720-230-6306</a>
	
	<br><br>
	<h4> Email </h4>
	<a href="mailto:info@increatesoftware.com">info@increatesoftware.com</a> 

	<br><br>
	<h4>Mail</h4>
	<p>
	  Increate Software LLC<br>
	  9615 E County Line Rd, STE B-539<br>
	  Centennial, CO 80112
	</p>
	<br>
	<h4>Face to Face</h4>
	<p>
	Increate Software doesn't have a physical office.  We utilize
	a combination of virtual offices and shared workspaces.
	Please contact us and we'd be happy to schedule a face to face
	meeting with you.
	</p>
	<app-contact-us></app-contact-us>		
      </div>
    </div>
  </div>
</div>
