<script src="node_modules/prismjs/prism.js"></script>


<section class="features">

  <article class="flex m-0">
    <div class="container-fluid m-0">
      <div class="row">
      <table-of-contents class="col-2 mx-auto"
			 container=".mat-sidenav-content" #toc>
      </table-of-contents>
      
      <div class="post-container col-8 m-auto">
        <div markdown [src]="post" class="post"
             (load)="onLoad($event)"
	     (error)="onError($event)"></div>
	
        <div class="post-not-found" *ngIf="notFound">
          <div class="d-flex justify-content-center">
            <fa-icon icon="book"></fa-icon>
          </div>
          <div class="d-flex justify-content-center">
            <p>Oops, the requested blog post was not found</p>
          </div>
        </div>
      </div>

      
      <div class="comments col-2 mx-auto">
	<iframe src="http://twubs.com/embed/lovetwitter/?messagesPerPage=5&headerBgColor=%231c6485&headerTextColor=%23ffffff"
	width="100%" height="100%"
		frameborder="0"><a href="http://twubs.com/lovetwitter">#lovetwitter</a></iframe>
	

      </div>
      </div>
    </div>
  </article>

  <!--
  <div class="container" *ngIf="!notFound">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline d-flex justify-content-center mt-4">
          <li class="list-inline-item share">

            <a (click)="share()" class="btn"><fa-icon [icon]="['far',
            'share']"></fa-icon> {{'TEXT.BUTTON_SHARE'|
              translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
-->
</section>
