<script src="node_modules/prismjs/prism.js"></script>


<section class="features">

  <article class="flex m-0">
    <div class="container-fluid m-0">
      <div class="row">
      <table-of-contents class="col-sm-2 mx-auto"
			 container=".post-container" #toc>
      </table-of-contents>
      
      <div class="post-container col-sm-7 m-0">
        <div markdown [src]="post" class="post"
             (load)="onLoad($event)"
	     (error)="onError($event)">
	</div>
	
        <div class="post-not-found" *ngIf="notFound">
          <div class="d-flex justify-content-center">
            <fa-icon icon="book"></fa-icon>
          </div>
          <div class="d-flex justify-content-center">
            <p>Oops, the requested blog post was not found</p>
          </div>
        </div>
      </div>

      
      <div class="post-comments col-sm-3 mx-auto">
	<script  data-isso="http://comments.increate.co:30000/"
        data-isso-css="true"
        src="http://comments.increate.co:30000/js/embed.min.js"></script>

	<div class="comments-scroll" #comments>
<!--	<section id="isso-thread"></section>-->
	</div>
		
      </div>
      </div>
    </div>
  </article>

  <!--
  <div class="container" *ngIf="!notFound">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline d-flex justify-content-center mt-4">
          <li class="list-inline-item share">

            <a (click)="share()" class="btn"><fa-icon [icon]="['far',
            'share']"></fa-icon> {{'TEXT.BUTTON_SHARE'|
              translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
-->
</section>
