<script src="node_modules/prismjs/prism.js"></script>

<section class="features">

  <article>
    <div class="container">
      <div class="">
	<table-of-contents class="col-sm-4 mx-auto"
	  container=".mat-sidenav-content" #toc>
	</table-of-contents>
        <div class="post-container col-sm-8 mx-auto">
          <div markdown [src]="post" class="post"
               (load)="onLoad($event)"
	       (error)="onError($event)"></div>

          <div class="post-not-found" *ngIf="notFound">
            <div class="d-flex justify-content-center">
              <fa-icon icon="book"></fa-icon>
            </div>
            <div class="d-flex justify-content-center">
              <p>Oops, the requested blog post was not found</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <!--
  <div class="container" *ngIf="!notFound">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline d-flex justify-content-center mt-4">
          <li class="list-inline-item share">

            <a (click)="share()" class="btn"><fa-icon [icon]="['far',
            'share']"></fa-icon> {{'TEXT.BUTTON_SHARE'|
              translate}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
-->
</section>
