@import '../../../styles-variables';

::ng-deep .post-container  {
    
  p {
    text-align: justify;
  }

  .post .header-columns {
      display: flex;
      flex-flow: column wrap;
      /* this indicates, when a new "column" will be started */
      height: 150px;
      align-content: flex-start;
  }
  .post div .header-name-date
  {

      @media (max-width: map-get($grid-breakpoints, md)) {
	  font-size:small;
	  p {
	      font-size:small;
	  }
      }
      
      flex: 0 0 auto;
      width: 65%;
      margin: 4px;
  }

  .post div .header-author-image
  {
      flex: 0 0 auto;
      width: 25%;
      margin: 4px;
      margin-right:20px;

      img {
	  max-width: 80px;
	  margin: 8px;
	  border-radius: 50%;
      }

  }

  .post p {
    img {
	width: 100% ;
	padding-bottom: 10px;
	padding-top: 10px;
    }
  }

  div.post-not-found {
    fa-icon {
      font-size: 14rem;
    }
  }

  ul, ol {
    li {
      font-weight: 300;
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  pre {
    background: rgba(0, 0, 0, .05);
    padding: 16px;

    code {
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
    }
  }

  code {
    font-weight: 300;
    color: inherit;
  }


  .post p:first-of-type {
    font-size: 18px;
    font-style: italic;
    margin-top: 0;
    color: gray;
  }

  .post p:first-of-type > a {
    text-decoration: none;
    color: #212529;
  }

  .post p:first-of-type > a:focus, .post p:first-of-type > a:hover {
    text-decoration: underline;
    color: blue;
  }

  li.share {
    a.btn {
      border-radius: 8px;
      font-size: 1rem;
      color: white;
      border-color: blue;
    }
  }

}
