@import '~@angular/material/theming';

@mixin increate-blogpost-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);
    
    .post a {
	color:mat-color($primary);
    }
	
    li.share {
	a.btn {
	    color: mat-color($foreground);
	    border-color: mat-color($primary);
	}
    }

	
    p:first-of-type > a {
	//If / when we start linking to a profile
	//we will set the link color here
	color: #212529;
    }
	
    .header-name-date p:first-of-type {
	color: mat-color($primary);
    }


}

