<div [class]="'theme-wrapper ' + (theme$ | async )">

<body class="intro-page travel-lp">
    <!-- Google Tag Manager (noscript)
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NPNBG9K"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    -- End Google Tag Manager (noscript) -->

    <!--Navigation & Intro-->
    <header>
      
        <!--Navbar-->
        <mdb-navbar #navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
          <div class="container">

	    <mdb-navbar-brand>
                <img class="navbar-brand"
		     src="assets/img/graphics/CommunityOfChrist.png"
		     style="height:50%"  alt="Temple">
	    </mdb-navbar-brand>
	    
                <button mdbBtn class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
                </button>


		
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!--Links-->
                    <ul class="navbar-nav mr-auto smooth-scroll">
                        <li class="nav-item">
                            <a class="nav-link" href="#home">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#calendar" data-offset="90">Calendar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#directions" data-offset="90">Directions</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" href="#contact" data-offset="90">Contact</a>
                            </li>
                        </ul>

                    <!--Social Icons-->
                    <ul class="navbar-nav nav-flex-icons">
                        <li class="nav-item">
                            <a href="https://www.facebook.com/groups/221795997878034//
                            " class="nav-link">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li  class="nav-item">
                            <a href="https://twitter.com/cofchristthorn/" class="nav-link">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.instagram.com/cofchristThornton/" class="nav-link">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://www.youtube.com/channel/UCLG6fsnSz6uREAcr7hVSThQ" class="nav-link">
                                <i class="fa fa-youtube"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </mdb-navbar>
        <!--/Navbar-->


	        <!-- Intro Section -->
            <div id="home" class="view jarallax" data-jarallax='{"speed": 0.2}'
                style="background-image: url(assets/img/graphics/CofChristRiver.jpg); min-height: 100vh; background-size: cover;">
                <div class="full-bg-img">
                    <div class="container flex-center">
                        <div class="row smooth-scroll">
                            <div class="col-md-12 white-text text-center">
                                <div class="wow fadeInDown" data-wow-delay="0.2s">
                                    <h5 class="display-5 font-bold font-up mb-2 spacing rgba-white-slight px-4 py-3">
                                        <strong>We proclaim Jesus Christ and promote communities of joy, hope, love, and
                                            peace.</strong>
                                    </h5>

                                    <h4 class="subtext-header mt-4 mb-5">Christ's mission is our mission.</h4>
                                </div>
                                <a href="#priciples" data-offset="100"
                                    class="btn btn-white btn-rounded font-bold dark-grey-text wow fadeInUp"
                                    data-wow-delay="0.2s">More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </header>
        <!--/Navigation & Intro-->

        <!--Main content-->
        <main>

            <div class="container-fluid">

                <h4 class="section-heading my-5 py-4 font-bold wow fadeIn" data-wow-delay="0.2s">
                </h4>

                <!--Section: Features v.1-->
                <section id="calendar" class="section feature-box mt-4">
                    <div class="calendar-container">
                    </div>
                </section>
                <!--/Section: Features v.1-->

                <!--Section: Calendar-->
                <section class="pb-4">

                    <!--Card-->
                    <div id="kalendar" class="card card-cascade narrower">

                        <!--Card image-->
                        <div class="view gradient-card-header mdb-color lighten-3">
                            <h5 class="mb-0">Calendar</h5>
                        </div>
                        <!--Card content-->
                        <div class="card-body text-center">
                            <div class="responsive-iframe-container big-container">
                                <iframe
                                    src="https://calendar.google.com/calendar/embed?src=cofchristthornton%40gmail.com&ctz=America%2FDenver"
                                    style="border-width:0" width="1920" height="1080" frameborder="0"
                                    scrolling="no"></iframe>
                            </div>
                            <div class="responsive-iframe-container small-container">
                                <iframe
                                    src="https://calendar.google.com/calendar/embed?mode=AGENDA&amp;src=cofchristthornton%40gmail.com&ctz=America%2FDenver"
                                    style="border-width:0" width="640" height="480" frameborder="0"
                                    scrolling="no"></iframe>
                            </div>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->

                </section>
                <!--Section: Calendar-->

            </div>


            <div class="container-fliud">
                <h4 class="section-heading my-5 py-4 font-bold wow fadeIn" data-wow-delay="0.2s">
                </h4>

                <!--Section: Features v.1-->
                <section id="priciples">
                    <!--Section: Priciples-->
                    <section class="pb-4">
                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view gradient-card-header mdb-color lighten-3">
                                <h5 class="mb-0">Principles</h5>
                            </div>
                            <!--Card content-->
                            <div class="card-body text-center">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <iframe class="embed-responsive-item"
                                        src="https://www.youtube-nocookie.com/embed/uudmp_DUlTw" frameborder="0"
                                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                        <!--/.Card-->
                    </section>
                </section>
            </div>

            <div class="container-fluid">

                <h4 class="section-heading my-5 py-4 font-bold wow fadeIn" data-wow-delay="0.2s">
                    <strong>Directions</strong>
                </h4>

                <section id="directions">
                    <!--Section: Regular maps-->
                    <section class="mb-5">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6 mb-r">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view gradient-card-header mdb-color lighten-3">
                                        <h5 class="mb-0">Google Maps</h5>
                                    </div>
                                    <!--/Card image-->

                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <!--Google map-->
                                        <div id="map-container" class="z-depth-1" style="height: 300px"></div>
                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6 mb-r">

                                <!--Card-->
                                <div class="card card-cascade narrower">

                                    <!--Card image-->
                                    <div class="view gradient-card-header mdb-color lighten-3">
                                        <h5 class="mb-0">Photo</h5>
                                    </div>

                                    <!--Card image-->
                                    
                                    <!--/.Card image-->

                                    <!--Card content-->
                                    <div class="card-body center">
                                        <img src="assets/img/graphics/Church.jpg" class="img-fluid"
                                            style=" object-fit: cover; height: 300px; margin:0px 0px 0px 0px;" alt="">
                                        <a>
                                            <div class="mask"></div>
                                        </a>
                                    </div>
                                    <!--/.Card content-->

                                </div>
                                <!--/.Card-->

                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                    </section>
                </section>
                <!--Section: Regular maps-->

            </div>

            <div class="container">

                <!--Section: Contact v.3-->
                <section id="contact" class="section mb-5 pb-5">

                    <!--Section heading-->
                    <h4 class="section-heading my-5 py-4 font-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Contact us</strong>
                    </h4>

                    <!--Grid row-->
                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-12">

                            <!--Form with header-->
                            <div class="card">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="card-body form">
                                            <!--Header-->
                                            <div class="formHeader mb-1 pt-3">
                                                <h3>
                                                    <i class="fa fa-envelope"></i> Contact us:</h3>
                                            </div>

                                            <br>

                                            <form>
                                                <!--Grid row-->
                                                <div class="row">

                                                    <!--Grid column-->
                                                    <div class="col-md-6">
                                                        <div class="md-form">
                                                            <div class="md-form">
                                                                <input type="text" id="form-contact-name"
                                                                    class="form-control">
                                                                <label for="form-contact-name" class="">Your
                                                                    name</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Grid column-->

                                                    <!--Grid column-->
                                                    <div class="col-md-6">
                                                        <div class="md-form">
                                                            <div class="md-form">
                                                                <input type="email" id="form-contact-email"
                                                                    class="form-control">
                                                                <label for="form-contact-email" class="">Your
                                                                    email</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Grid column-->

                                                </div>
                                                <!--Grid row-->

                                                <!--Grid row-->
                                                <div class="row">

                                                    <!--Grid column-->
                                                    <div class="col-md-6">
                                                        <div class="md-form">
                                                            <div class="md-form">
                                                                <input type="text" id="form-contact-phone"
                                                                    class="form-control">
                                                                <label for="form-contact-phone" class="">Your
                                                                    phone</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Grid column-->

                                                </div>
                                                <!--Grid row-->

                                                <!--Grid row-->
                                                <div class="row">

                                                    <!--Grid column-->
                                                    <div class="col-md-12">

                                                        <div class="md-form">

                                                            <textarea type="text" id="form-contact-message"
                                                                class="md-textarea"></textarea>
                                                            <label for="form-contact-message">Your message</label>
                                                            <a class="btn-floating btn-lg blue">
                                                                <i class="fa fa-send-o" onclick="sendContactInfo()">
                                                                </i>
                                                            </a>
                                                        </div>

                                                    </div>
                                                    <!--Grid column-->

                                                </div>
                                                <!--Grid row-->
                                            </form>

                                        </div>
                                    </div>

                                    <div class="col-lg-4">
                                        <div class="card-body contact
						text-center background">
                                            <div class="container">
                                                <div class="mb-5">
                                                    <h3>Contact information</h3>
                                                </div>

                                                <ul class="contact-icons">
                                                    <li>
                                                        <i class="fa fa-address-card fa-size"></i>
                                                        <p>Bob Walker</p>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-phone fa-size"></i>
                                                        <p>303.378.3572</p>
                                                    </li>

                                                    <li>
                                                        <i class="fa fa-envelope fa-size"></i>
                                                        <p>seventybob@aol.com</p>
                                                    </li>
                                                </ul>

                                                <hr class="hr-light mb-4 mt-4">

                                                <ul class="inline-ul text-center list-unstyled">
                                                    <li>
                                                        <a href="https://www.facebook.com/groups/221795997878034//
                                                    " class="icons-sm fa-ic">
                                                            <i class="fa fa-facebook"> </i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://twitter.com/cofchristthorn/"
                                                            class="icons-sm tw-ic">
                                                            <i class="fa fa-twitter"></i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.instagram.com/cofchristthornton/"
                                                            class="icons-sm ins-ic">
                                                            <i class="fa fa-instagram"> </i>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="https://www.youtube.com/channel/UCLG6fsnSz6uREAcr7hVSThQ"
                                                            class="icons-sm ins-ic">
                                                            <i class="fa fa-youtube"> </i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/Form with header-->

                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                </section>
                <!--Section: Contact v.3-->

            </div>

        </main>
        <!--/Main content-->

        <!--Footer-->
        <footer class="page-footer stylish-color-dark">

            <!--Footer Links-->
            <div class="container">

                <!-- Footer links -->
                <div class="row text-center text-md-left mt-3 pb-3">

                    <hr class="w-100 clearfix d-md-none">

                    <!--Second column-->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="title mb-4 font-bold">Sunday</h6>
                        <p>
                            <a href="#!">9:45 A.M. Sunday School</a>
                        </p>
                        <p>
                            <a href="#!">10:30 A.M. Fellowship</a>
                        </p>
                        <p>
                            <a href="#!">11:00 A.M. Worship</a>
                        </p>
                        <p>
                            <a href="#!">12:00 P.M. Fellowship Potluck (3rd Sunday)</a>
                        </p>
                    </div>
                    <!--/.Second column-->

                    <hr class="w-100 clearfix d-md-none">

                    <!--Third column-->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                        <h6 class="title mb-4 font-bold">Useful links</h6>
                        <p>
                            <a href="http://www.cofchrist.org/">World Church</a>
                        </p>
                        <p>
                            <a href="http://cofchristrm.org/">RMMC</a>
                        </p>
                        <p>
                            <a href="https://outreach-international.org/">Outreach International</a>
                        </p>
                        <p>
                            <a href="http://galaweb.org/">GALA</a>
                        </p>
                        <p>
                            <a href="http://healthedconnect.org/">HealthEd Connect</a>
                        </p>
                    </div>
                    <!--/.Third column-->

                    <hr class="w-100 clearfix d-md-none">

                    <!--Fourth column-->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                        <h6 class="title mb-4 font-bold">Contact</h6>
                        <p>
                            Bob Walker</p>
                        <p>
                            9501 Lou Dr</p>
                        <p>
                            Thornton, CO 80221</p>
                        <p>
                            <i class="fa fa-envelope mr-3"></i> seventybob@aol.com</p>
                        <p>
                            <i class="fa fa-phone mr-3"></i> 303.378.3572</p>
                    </div>
                    <!--/.Fourth column-->

                </div>
                <!-- Footer links -->

                <hr>

                <div class="row py-3 d-flex align-items-center">

                    <!--Grid column-->
                    <div class="col-md-8 col-lg-9">

                        <!--Copyright-->
                        <p class="text-center text-md-left grey-text">© 2019 Copyright:
                            <a href="https://www.CofChristThornton.org">
                                <strong style="color: white;"> CofChristThornton.org</strong>
                            </a>
                        </p>
                        <!--/.Copyright-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-4 col-lg-3 ml-lg-0">

                        <!--Social buttons-->
                        <div class="social-section text-center text-md-left">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/groups/221795997878034//
                                " class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/cofchristthorn"
                                        class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/cofchristThornton/"
                                        class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.youtube.com/channel/UCLG6fsnSz6uREAcr7hVSThQ"
                                        class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!--/.Social buttons-->

                    </div>
                    <!--Grid column-->

                </div>

            </div>
        </footer>
    </body>
</div>
      
