$AngularAdvisors-dark-primary: mat-palette($mat-grey, 700, 300, 900);
$AngularAdvisors-dark-accent: mat-palette($mat-blue-grey, 400);
$AngularAdvisors-dark-warn: mat-palette($mat-red, 500);

$AngularAdvisors-dark-theme: mat-dark-theme(
  $AngularAdvisors-dark-primary,
  $AngularAdvisors-dark-accent,
  $AngularAdvisors-dark-warn
);
