$CofChrist-dark-primary: mat-palette($mat-grey, 700, 300, 900);
$CofChrist-dark-accent: mat-palette($mat-blue-grey, 400);
$CofChrist-dark-warn: mat-palette($mat-red, 500);

$CofChrist-dark-theme: mat-dark-theme(
  $CofChrist-dark-primary,
  $CofChrist-dark-accent,
  $CofChrist-dark-warn
);
