$AngularAdvisors-primary: mat-palette($mat-indigo, 800, 300, 900);
$AngularAdvisors-accent: mat-palette($mat-light-blue);
$AngularAdvisors-warn: mat-palette($mat-pink, 600);

$AngularAdvisors-theme: mat-light-theme($AngularAdvisors-primary, $AngularAdvisors-accent, $AngularAdvisors-warn);
