
<div class="background">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

  <h2>
    Angular Custom Elements
  </h2>
<p>
  This component was created using Component Driven Development paradigm with one
    other software developer.  We used Storybook to build and test our
    work in a component driven fashion. 
</p>

    <li>It uses CDK Virtual Scroll</li>
    <li>It lazy loads an infinite list of news articles from the NewsAPI.org</li>
    <li>It is complied to pure javascript and can be included in any
      web enable project -- Even one that isn't using angular. </li>
    <br>
<p>
      Custom Elements are a great solution for large organizations that have made
      a big investment in legacy code and can't change their tooling
      every six months but still would like to take advantage of the
      most advanced tools and methodologies.
</p>
<p>
      View the source of this page to see the custom element tag.
      Behind the scenes I'm lazy loading the javascript
      bundle. One thing to keep in mind is that  angular custom
      elements can be a little bit large (this one is).
</p>
  <p>
    If you select a new newsource or bring up the settings dialog you
      will see there is one issue with the Overlay Component.  This is
    an open bug we are discussing.

    
      If this element is not working for any reason it is because too
      many people have loaded news articles and I'm over my limit with
      the good people at NewsAPI.org.
  </p>
  
  <div class="container">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">

    <div class="news-app">
      <news-source appshellnorender> </news-source>
    </div>
  </div>
	</div>
      </div>
    </div>
</div>
