<mat-toolbar>
    <span class="title-center">
      {{ 'increate.setpassword.form.title' | translate }}
    </span>
  </mat-toolbar>

<ng-container *ngIf="formValueChanges$ | async as updatedForm">
    {{update(updatedForm)}}
</ng-container>
  
  <form [formGroup]="form" >
    <div class="row">
      <div class="col">
	<mat-card>
          <span class="d-flex justify-content-between align-items-baseline">
            <h2>{{ 'increate.setpassword.form.subtitle' | translate }}</h2>
          </span>


	  <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'increate.setpassword.form.email' | translate }}"
                formControlName="email" type="email">
              <mat-error *ngIf="form.get('email').hasError('required')">
                {{ 'increate.setpassword.form.invalid.email' | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('email').hasError('email')">
                {{ 'increate.setpassword.form.invalid.email' | translate }}</mat-error>
            </mat-form-field>
          </div>


	  <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput placeholder="{{ 'increate.setpassword.form.name' | translate }}"
                formControlName="name" type="name">
              <mat-error *ngIf="form.get('name').hasError('required')">
                {{ 'increate.setpassword.form.invalid.name' | translate }}
              </mat-error>
	    </mat-form-field>
          </div>

	  
          <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="password" placeholder="{{ 'increate.setpassword.form.password' | translate }}"
                formControlName="password">
              <mat-error *ngIf="form.get('password').invalid">
                {{ 'increate.setpassword.form.invalid.password' | translate }}
              </mat-error>
            </mat-form-field>
          </div>

	  <div class="row">
            <mat-form-field class="col" [ngClass]="routeAnimationsElements">
              <input matInput type="password" placeholder="{{ 'increate.setpassword.form.password' | translate }}"
                formControlName="password2">
              <mat-error *ngIf="form.get('password2').invalid">
                {{ 'increate.setpassword.form.invalid.password' | translate }}
              </mat-error>
            </mat-form-field>
          </div>



	  <md-dialog-actions layout="row">

	  <div class="danger">
	    {{setPasswordErrorMessage}}
	  </div>

	    
	  <div class="row buttons d-flex justify-content-between pad">
            <button type="button"
		    [disabled]="form.invalid"
		    mat-raised-button color="accent"
              [ngClass]="routeAnimationsElements" (click)="save()">
              {{ 'increate.setpassword.form.submit' | translate }}
            </button>
	  </div>
	  </md-dialog-actions>
	  
        </mat-card>
	
      </div>
    </div>
  </form>
