

<div  style="display:flex; flex:1 1 auto; flex-flow:row wrap;
	     margin:auto; text-align:center;">
  <div class="container col-12">
    <img style="width:200px; padding:15px; border-radius:50%;
		object-fit:cover; height:200px "
	 src="/assets/404/Ilwrathi.png">
    <img style="width:200px; padding:15px; object-fit:cover; border-radius:50%; height:200px;"
	 src="/assets/404/Ozzie.png">
    <img style="width:200px; padding:15px; object-fit:cover; border-radius:50%; height:200px"
	 src="/assets/404/Ultros.png">
  </div>
  <div class="container col-12">
    <h1> Wamp... Womp... Wump... </h1>
  </div>
  <div class="container col-12">
    <h2> 404 Not Found </h2>
  </div>
    <div class="container col-6">
    <h2>But don't worry we are a small company so pick
    one of the contact methods below and get in touch with us.  We
    will help you find what you're looking for!</h2>
    </div>
    <div class ="container col-12">
      <increate-contact></increate-contact>
    </div>
