<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	  
	<h1>
	  Our Work as Consultants
	</h1>
	  <h2>
	    Aerospace Company
	  </h2>
	  Increate Software provided Engineering Management support to
	  help an major Aerospace vendor interface with a primer
	  offshore development company.  The mission was to develop a
	  data distribution system to manage the complex streams of
	  data that needed to be processed and delivered to the
	  Aerospace companies' clients.

	  The Aerospace company was experienced in providing vendor
	  management and had a mature software development process and
	  therefore needed the most support with ensuring good
	  communication between upper / executive management of both companies.   
	<p>
	  
	</p>
	
	<br>
	<h2>
	  Health Care Company
	</h2>
	
	<p>
	  Increate Software embedded on-site at a Health Care company
	  in San Jose, CA. The company had contractually obligated
	  release in the three month time horizon that was mission
	  critical.  Increate software provided support reviewing
	  requirements, detailing scope of engagement, planning
	  effort, tracking progress to goals, evaluating priorities,
	  and providing feedback to customer.

	  With this support the project was completed within the
	  contractually obligated period.
	</p>

	<br>
	<h2>
	  Large Offshore Development Company
	</h2>
	
	<p>
	  Increate Software LLC consults as needed with a large
	  offshore development company to assist them with their US
	  customers. Increate provides a variety of services including
	  pre-sale support, engineering management, and strategic planning. 
	</p>

	<h1> Our Work as Developers </h1>
	<h2> Increate Software LLC </h2>
	<p>
	  We created this site from the ground up with help from the
	  open source community *.  We used modern Google backed
	  technologies to create this including Angular, Typescript,
	  Firebase, GCloud. (<a href="/technology" aria-label="see our
	  tech stack">See our tech stack for a full list of
	    technologies</a>).  We developed this site based of our
	  custom starter project which we use for all our Web App
	  projects.  You can find the source code
	  <a href="https://github.com/greenfieldt/Angular-NGXS-Starter-Project"
	  aria-label="Git Hub source code for Increate Starter
	  Project" rel="noopener">in our Git Hub NGXS-Starter-Project repo</a>.  This site uses
	  Angular Material for it's style guide.

	  
	  <br><br><a href="/blog" aria-label="see our
	  blog">*See our blog for technologies we used and the
	    open source projects that we like.</a>
	</p>
	<h2>SalezPHD</h2>
	<p>
	  Increate software developed an AWS hosted OpenVOIP solution
	  to enable a WebRTC client integrated with popular small
	  business CRMs to
	  "click-to-dial".  The solution was partially in C++
	  OpenVOIP, javascript, and Python (integration with AWS AI algorithms). 
	</p>
	 
      </div>
    </div>
  </div>
</div>
