<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	  
	<h3>
	  Our Work
	</h3>
	  <h4>
	    Aerospace Customer
	  </h4>
	  Increate Software provided Engineering Management support to
	  help an major Aerospace vendor interface with a primer
	  offshore development company.  The mission was to develop a
	  data distribution system to manage the complex streams of
	  data that needed to be processed and delivered to the
	  Aerospace companies' clients.

	  The Aerospace company was experienced in providing vendor
	  management and had a mature software development process and
	  therefore needed the most support with ensuring good
	  communication between upper / executive management of both companies.   
	<p>
	  
	</p>
	
	<br>
	<h4>
	  Health Care Company
	</h4>
	
	<p>
	  Increate Software embedded on-site at a Health Care company
	  in San Jose, CA. The company had contractually obligated
	  release in the three month time horizon that was mission
	  critical.  Increate software provided support reviewing
	  requirements, detailing scope of engagement, planning
	  effort, tracking progress to goals, evaluating priorities,
	  and providing feedback to customer.

	  With this support the project was completed within the
	  contractually obligated period.
	</p>

	<br>
	<h4>
	  Software Development
	</h4>
	<p>
	  
	</p>
      </div>
    </div>
  </div>
</div>
