<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	  
	<h3>
	  Our Services
	</h3>
	  <h4>
	    Full Service Software Development
	  </h4>
	<p>

	  We have over five decades of Software Development and
	  Software Engineering Management experience at Increate
	  Software.  Our Principals have worked at fortune 500
	  companies as software engineers and engineering
	  managers.  We have a deep background, in the
	  technical, project aspects, and business aspects of a
	  software development project.   
	</p>
	
	<br>
	<h4>
	  Offshore Development Consulting
	</h4>
	
	<p>
	  Are you already engaged in a software development effort
	  with an offshore vendor.  Increate can help you manage the
	  project and achieve your results.  Many companies don't
	  appreciate the amount of effort it takes to do an effective
	  transfer of information to the offshore development team
	  each day.  Let Increate help you ensure that no more days
	  are wasted across time zones!
	</p>

	<br>
	<h4>
	  Engineering Management
	</h4>
	<p>
	Increate Software LLC can provide full time Engineering
	Management to help your team achieve your software development
	goals. Increate will embeeded with your team during their work
	hours at their location and support their efforts.  We
	typically supports teams for three to six month time periods.
	</p>
      </div>
    </div>
  </div>
</div>
