<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
	  
	<h1>
	  Our Services
	</h1>
	  <h2>
	    Full Service Software Development
	  </h2>
	<p>

	  We have over five decades of Software Development and
	  Software Engineering Management experience at Increate
	  Software.  Our Principals have worked at fortune 500
	  companies as software engineers and engineering
	  managers.  We have a deep background, in the
	  technical, project aspects, and business aspects of a
	  software development project.  
	  <a href="/contact" aria-label="contact us for a free
	  consultation">Contact us for a free consultation on your project</a>

	  <br>
	  <br>
	  Over the years we have worked in multiple industries with
	  multiple tech stacks.  We are focused on Web Apps and SEO
	  optimization currently but we have a background in safety
	  critical software development that allows us to work in the
	  Aerospace, Health Care, and Automotive industries.  

	  
	  <a href="/technology" aria-label="See the technology we
	  support"> Review the tech stacks we support</a>.  

	</p>
	
	<br>
	<h2>
	  Offshore Development Consulting
	</h2>
	
	<p>
	  Are you already engaged in a software development effort
	  with an offshore vendor.  Increate can help you manage the
	  project and achieve your results.  Many companies don't
	  appreciate the amount of effort it takes to do an effective
	  transfer of information to the offshore development team
	  each day.  Let Increate help you ensure that no more days
	  are wasted across time zones!  
	  <a href="/contact" aria-label="contact us for a free
	  consultation">Contact us for a free consultation on your
	  project</a>.  We will review your current successes and
	  difficulties and offer you some quick tips.
	</p>

	<br>
	<h2>
	  Engineering Management
	</h2>
	<p>
	Increate Software LLC can provide full time Engineering
	Management to help your team achieve your software development
	goals. Increate will embeeded with your team during their work
	hours at their location and support their efforts.  We
	typically supports teams for three to six month time periods
	to help team achieve critical tasks.  
	<a href="/contact" aria-label="contact us for a free
	consultation">Contact us for a free consultation on your
	project</a>.  We will review situation and help you evaluate
	your options and the services we can provide.

	</p>
      </div>
    </div>
  </div>
</div>
